.titre{
    background-image: linear-gradient(
        to left,
        indigo,
        blue,
        green,
        yellow,
        orange,
        red
        );
        background-clip: text;
        -webkit-background-clip: text;
        -webkit-background-clip: text;
        -moz-background-clip: text;
        color:transparent;
        position:fixed;
        right: 840px;
        top: 50px;
        
}

.fond{
    background-color: #FF80FF;
}

.photo{
    height: 200px;
    position: fixed;
    left: 200px;
    top:200px;
}

.photo2{
    height: 200px;
    position: fixed;
    right: 230px;
    top:200px;
}

.danse{
    position: fixed;
    right:650px;
    top:200px;
}